* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
canvas {
  width: 100%;
  height: 100%;
}

html {
  font-family: "MessinaSansWeb";
}

form {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1em;
  font-size: 18px;
}

fieldset {
  appearance: none;
  border: 0;
  display: flex;
  margin: 1em -0.25em;
}

h1 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 0.2em;
}

select,
input {
  margin: 0 0.5em;
  font-family: inherit;
  padding: 0.4em 0.4em 0.6em;
  flex: 1 1 50%;
  width: 50%;
}